<?xml version="1.0" encoding="utf-8" ?>
<Menus>
  <Menu title="系统管理" code="100">
    <Link title="系统设置" code="101" href=""></Link>
    <Link title="CSS设置" code="102" href=""></Link>
    <Link title="模板设置" code="103" href=""></Link>
    <Link title="友情链接" code="104" href="FriendLink.aspx"></Link>
  </Menu>
  <Menu title="安全管理" code="200">
    <Link title="角色管理" code="201" href=""></Link>
    <Link title="用户管理" code="202" href=""></Link>
    <Link title="日志管理" code="203" href=""></Link>
  </Menu>
  <Menu title="内容管理" code="300">
    <Link title="专题管理" code="301" href=""></Link>
    <Link title="栏目管理" code="302" href=""></Link>
    <Link title="新闻管理" code="303" href=""></Link>
    <Link title="图片管理" code="304" href=""></Link>
    <Link title="相册管理" code="305" href=""></Link>
    <Link title="视频管理" code="306" href=""></Link>
    <Link title="生成页面" code="307" href=""></Link>
  </Menu>
</Menus>
